requests==2.9.1
numpy==1.11.0
Shapely==1.5.13
googlefinance==0.7
feedparser==5.1.3
httplib2==0.10.3
Adafruit_BMP==1.5.2
Image==1.5.15
ImageColor==1.2.0
Pillow==4.2.1
google_api_python_client==1.6.4
matplotlib==2.1.0rc1
pylirc==0.0.5
simplejson==3.11.1
